
    
        <div mat-card-avatar>
            <i mat-list-icon class="{{ question.icon }} icon" ></i>
          </div>
          <mat-card-title>
            <h2>{{ question.title }}</h2>
          </mat-card-title>
          <mat-card-subtitle>Curso: Matematicas


     
      <mat-card-content>
        <p>
         {{ question.description }}
        </p>
      </mat-card-content>




  <div class="answers">
    <h3>Respuestas</h3>
    <ul class="answers-list">
      <li>
        a)1

      </li>
      <li>
        b)2
  
      </li>
      <li>
        c)3

      </li>
      <li>
        d)4

      </li>
    </ul>
    <app-respuestas></app-respuestas>
  </div>
