<mat-card style="margin-left: 10px;">
    <h1>Detalle del Perfil</h1>
    <mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="text-center">
                <img
                    src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png"
                    alt=""
                    class="profile-image"
                    width="300"
                    height="300"
                >
                <br><br>
                <h1>{{user.nombuser}} {{user.apelliuser}}</h1>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <table class="table text center">
                        <tr>
                            <td>Nombre de Usuario</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Rol</td>
                            <td>{{user.authorities[0].authority}}</td>
                        </tr>
                        <tr>
                            <td>Teléfono</td>
                            <td>{{user.telefuser}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{user.emailuser}}</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>Activo</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Actualizar</button>
        <button mat-raised-button color="accent">Compartir</button>
    </mat-card-actions>
</mat-card-content>    
</mat-card>
