<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;" >
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/iconLogin.png" width="80" height="80">
                </div>
                <h1 class="text-center">Registrate aqui</h1>
            </div>
            <form (ngSubmit)="formSubmit()">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input  required [(ngModel)]="user.username" name="username" matInput placeholder="Digite su nombre de usuario" >
                    <mat-hint>El nombre del usuario debe ser único</mat-hint>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input required [(ngModel)] = "user.password" name="password" type="password" matInput placeholder="Digite su contraseña">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input required [(ngModel)] = "user.nombuser" name="nombuser" matInput placeholder="Digite su nombre">
                    
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input required [(ngModel)] = "user.apelliuser" name="apelliuser" matInput placeholder="Digite sus apellidos">
                   
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input required [(ngModel)] = "user.emailuser" name="emailuser"
                    type="email" matInput placeholder="Digite su email">
                   
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input required [(ngModel)] = "user.telefuser" name="telefuser"
                    matInput placeholder="Digite su teléfono">
                    
                </mat-form-field>
                <div class="container text-center">
                    <button mat-raised-button color="primary">Guardar</button>
                    <button type="reset"style="margin-left:20px"  mat-raised-button color="accent">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
</div>
