<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink ="/listarClientes" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>
            inicio
        </button>
        <button mat-list-item routerLink="/listarClientes/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            Perfil
        </button>
        <button mat-list-item routerLink="/listarClientes/preguntas">
            <mat-icon mat-list-icon>list</mat-icon>
            Rendir Examen
        </button>
        <button mat-list-item (click)="logout()">
            <mat-icon mat-list-icon>logout</mat-icon>
            Salir
        </button>
    </mat-action-list>
</mat-card>
