<mat-card>
    <h1>Agregar Categoria</h1>
    <mat-card-content>
        <div class="bootstrap-wapper">
            <div class="row">
                <div class="col-md 8 offset md-2">
                    <form (ngSubmit) ="formSubmit()">
                        <mat-form-field class="w100" appearance = "outline">
                            <mat-label>Título</mat-label>
                            <input
                                required
                                type="text"
                                name="Titulo"
                                matInput
                                [(ngModel)]="categoria.titulo"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance = "outline">
                            <mat-label>Descripción</mat-label>
                            <input
                            required
                            type="text"
                            name="Descripción"
                            matInput
                            [(ngModel)]="categoria.descripcion"
                            >
                        </mat-form-field>
                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Guardar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        </mat-card-content>
</mat-card>

