/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center {
    text-align: center;
}
.full-width {
    width: 100%;
}

.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

 .mt20{
   margin-top:20px 
   /*El important es para que coja nuestros estilos y no los del angular material*/
   !important;
 } 

 .mr20{
    margin-right: 20px !important;
 }
 
 .ml70{
    margin-left: 170px !important;
 }

 .ml30{
  margin-left: 30px !important;
}