<mat-card class="mt20">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <mat-card-header>
                    <mat-card-title>
                        Bienvenido al Panel Administrativo
                    </mat-card-title>   
                </mat-card-header>
                <mat-card-subtitle>
                    Panel de administrador
                </mat-card-subtitle> 
                <mat-card-content class="ml30">
                    <mat-divider></mat-divider>
                    <br>
                    <h1>Sus Funciones:</h1>
                    <ul>
                        <li>Gestionar Usuario</li>
                        <li>Gestionar Roles</li>
                        <li>Gestionar Categorias</li>
                        <li>Gestionar Examenes</li>
                        <li>Gestionar Preguntas</li>
                        <li>Asignar Pregunta a Examen</li>
                    </ul>
                    <br>
                    <mat-divider></mat-divider>
                </mat-card-content>        
            </div>
        </div>
    </div>
</mat-card>
